{:kotoba.app/latest "k51qzi5uqu5dlry909sxjo7x182twmoohcfmflp1m723zf42pievqqv873tsru", :kotoba.app/site-cid "bafybeiehyukqmav747vejmzb3spqtu2h77ew3ip6ndibuxifwukngp3woq", :kotoba.app/id "cloud.itonami.voxelforge", :kotoba.app/kind :document, :kotoba.app/embed-url "ipns://k51qzi5uqu5dlry909sxjo7x182twmoohcfmflp1m723zf42pievqqv873tsru", :published {:own-nodes {:cid "bafybeiehyukqmav747vejmzb3spqtu2h77ew3ip6ndibuxifwukngp3woq", :ipns "k51qzi5uqu5dlry909sxjo7x182twmoohcfmflp1m723zf42pievqqv873tsru", :nodes ["gad" "xavier" "jacob"], :at "2026-10-09T03:52:34Z"}}}
